In [1]:
# Import required libraries
import pandas as pd
import re
from dateutil import parser
import pytz

In [2]:
df = pd.read_excel(r"C:\Users\ual-laptop\Downloads\university downloads\UoA laptop downloads folder\Alex The Analyst\Pooja\Python\Data Cleaning Pandas\Customer Call List.xlsx",sheet_name ="Call List")

In [3]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Date
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,2nd January 2022
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,2022-02-21 20:12:30 IST
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,2022-08-20 20:12:30 CET
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,2021-01-12 00:00:00
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,6th June 2020
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,2022-09-15 09:12:30 PST
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,2021-01-15 00:00:00
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,2nd February 2024
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,3rd October 2024
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,2021-01-13 00:00:00
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,5th May 2020
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,2022-12-10 20:12:30 EST
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,7th February 2024
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,2021-01-15 00:00:00
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,3rd January 2022
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,2021-01-10 00:00:00
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,4th February 2024
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,2021-01-15 00:00:00
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,2022-04-10 20:12:30 MST
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,6th February 2024

In [4]:
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Date
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,2nd January 2022
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,2022-02-21 20:12:30 IST
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,2022-08-20 20:12:30 CET
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,2021-01-12 00:00:00
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,6th June 2020

In [5]:
df.tail()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Date
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,4th February 2024
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,2021-01-15 00:00:00
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,2022-04-10 20:12:30 MST
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,6th February 2024

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
 8   Date               21 non-null     object
dtypes: bool(1), int64(1), object(7)
memory usage: 1.5+ KB

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
 8   Date               21 non-null     object
dtypes: bool(1), int64(1), object(7)
memory usage: 1.5+ KB

In [9]:
# Step 1: Define mapping of common timezone abbreviations to full pytz timezone names
tz_map = {
    'IST': 'Asia/Kolkata',   # India Standard Time
    'MST': 'US/Mountain',    # Mountain Standard Time
    'PST': 'US/Pacific',     # Pacific Standard Time
    'EST': 'US/Eastern',     # Eastern Standard Time
    'CET': 'Europe/Berlin'   # Central European Time
}

# Step 2: Remove ordinal suffixes like 2nd → 2
def remove_ordinal_suffix(date_val):
    return re.sub(r'(\d{1,2})(st|nd|rd|th)', r'\1', str(date_val)) #re.sub() replaces only the matched substring, not the full string.


# Function to standardize and parse a date string or timestamp into UTC format
def standardize_and_parse(date_val):
    try:
        # Clean up the date string (remove ordinal suffixes like '2nd', strip whitespace)
        cleaned = remove_ordinal_suffix(str(date_val).strip())

        # Split the string into parts to check for any timezone abbreviation at the end
        parts = cleaned.split()
        tz_abbr = parts[-1] if parts[-1] in tz_map else None  # Look for abbreviation
        tz_name = tz_map.get(tz_abbr)  # Get corresponding full timezone name

        # If a known timezone abbreviation is present
        if tz_name:
            # Remove the abbreviation from the string to safely parse the datetime
            cleaned = cleaned.replace(tz_abbr, '').strip()

            # Parse the cleaned date string into a naive datetime (no timezone yet)
            dt_naive = parser.parse(cleaned, dayfirst=False)

            # Localize to the detected timezone and convert to UTC
            dt_local = pytz.timezone(tz_name).localize(dt_naive)
            dt = dt_local.astimezone(pytz.utc)

        # If no timezone info is found, assume it's UTC or parse naively
        else:
            # Try parsing assuming MM/DD/YYYY format
            try:
                dt = parser.parse(cleaned, dayfirst=False)
            # Fallback: if that fails, try DD/MM/YYYY format
            except:
                dt = parser.parse(cleaned, dayfirst=True)

            # Set timezone to UTC manually since it's a naive datetime
            dt = dt.replace(tzinfo=pytz.utc)

        # Return the final datetime as a string in standardized UTC format
        return dt.strftime('%Y-%m-%d %H:%M:%S')

    # If any unexpected error occurs, print it and return None
    except Exception as e:
        print(f"[Failed] {date_val} → {e}")
        return None

# Apply the function to the 'Date' column in the DataFrame to create a new 'Standardized_UTC' column
df['Standardized_UTC_Date'] = df['Date'].apply(standardize_and_parse)

# View the original and parsed columns
df[['Date', 'Standardized_UTC_Date']]

                       Date Standardized_UTC_Date
0          2nd January 2022   2022-01-02 00:00:00
1   2022-02-21 20:12:30 IST   2022-02-21 14:42:30
2   2022-08-20 20:12:30 CET   2022-08-20 18:12:30
3       2021-01-12 00:00:00   2021-01-12 00:00:00
4             6th June 2020   2020-06-06 00:00:00
5   2022-09-15 09:12:30 PST   2022-09-15 16:12:30
6       2021-01-15 00:00:00   2021-01-15 00:00:00
7         2nd February 2024   2024-02-02 00:00:00
8          3rd October 2024   2024-10-03 00:00:00
9       2021-01-13 00:00:00   2021-01-13 00:00:00
10             5th May 2020   2020-05-05 00:00:00
11  2022-12-10 20:12:30 EST   2022-12-11 01:12:30
12        7th February 2024   2024-02-07 00:00:00
13      2021-01-15 00:00:00   2021-01-15 00:00:00
14         3rd January 2022   2022-01-03 00:00:00
15      2021-01-10 00:00:00   2021-01-10 00:00:00
16        4th February 2024   2024-02-04 00:00:00
17      2021-01-15 00:00:00   2021-01-15 00:00:00
18  2022-04-10 20:12:30 MST   2022-04-11 02:12:30
19      1999-12-12 00:00:00   1999-12-12 00:00:00
20        6th February 2024   2024-02-06 00:00:00

In [10]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Date,Standardized_UTC_Date
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,2nd January 2022,2022-01-02 00:00:00
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,2022-02-21 20:12:30 IST,2022-02-21 14:42:30
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,2022-08-20 20:12:30 CET,2022-08-20 18:12:30
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,2021-01-12 00:00:00,2021-01-12 00:00:00
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,6th June 2020,2020-06-06 00:00:00
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,2022-09-15 09:12:30 PST,2022-09-15 16:12:30
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,2021-01-15 00:00:00,2021-01-15 00:00:00
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,2nd February 2024,2024-02-02 00:00:00
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,3rd October 2024,2024-10-03 00:00:00
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,2021-01-13 00:00:00,2021-01-13 00:00:00
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,5th May 2020,2020-05-05 00:00:00
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,2022-12-10 20:12:30 EST,2022-12-11 01:12:30
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,7th February 2024,2024-02-07 00:00:00
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,2021-01-15 00:00:00,2021-01-15 00:00:00
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,3rd January 2022,2022-01-03 00:00:00
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,2021-01-10 00:00:00,2021-01-10 00:00:00
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,4th February 2024,2024-02-04 00:00:00
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,2021-01-15 00:00:00,2021-01-15 00:00:00
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,2022-04-10 20:12:30 MST,2022-04-11 02:12:30
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,1999-12-12 00:00:00,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,6th February 2024,2024-02-06 00:00:00

In [11]:
df.drop(columns=['Not_Useful_Column','Date'], inplace = True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CustomerID             21 non-null     int64
 1   First_Name             21 non-null     object
 2   Last_Name              20 non-null     object
 3   Phone_Number           19 non-null     object
 4   Address                21 non-null     object
 5   Paying Customer        21 non-null     object
 6   Do_Not_Contact         17 non-null     object
 7   Standardized_UTC_Date  21 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.4+ KB

In [13]:
# #Option 1
# df['Last_Name'].str.lstrip("/")
# df['Last_Name'].str.lstrip("...")
# df['Last_Name'].str.rstrip("_")
# df

In [14]:
#Option 2
df['Last_Name'] = df['Last_Name'].str.strip('/_.')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,2022-02-21 14:42:30
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,2022-08-20 18:12:30
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,2021-01-12 00:00:00
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,2020-06-06 00:00:00
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,2021-01-15 00:00:00
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,2024-02-02 00:00:00
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,2022-12-11 01:12:30
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2024-02-07 00:00:00
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,2021-01-15 00:00:00
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,2022-01-03 00:00:00
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2021-01-10 00:00:00
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,2021-01-15 00:00:00
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,2022-04-11 02:12:30
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,2024-02-06 00:00:00

In [15]:
df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','',regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,2022-02-21 14:42:30
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,2022-08-20 18:12:30
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,2021-01-12 00:00:00
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,2020-06-06 00:00:00
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,2021-01-15 00:00:00
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,2024-02-02 00:00:00
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,2022-12-11 01:12:30
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,2024-02-07 00:00:00
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,2021-01-15 00:00:00
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,2022-01-03 00:00:00
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,2021-01-10 00:00:00
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,2021-01-15 00:00:00
18,1019,Creed,Braton,Na,N/a,N/a,Yes,2022-04-11 02:12:30
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,2024-02-06 00:00:00

In [16]:
df['Phone_Number'] = df['Phone_Number'].astype(str) # Convert column data types
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3]+ '-'+ x[3:6]+'-'+x[6:])

In [17]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,2022-02-21 14:42:30
2,1003,Walter,White,nan--,298 Drugs Driveway,N,NaN,2022-08-20 18:12:30
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,2021-01-12 00:00:00
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,2020-06-06 00:00:00
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30
6,1007,Jeff,Winger,nan--,1209 South Street,No,No,2021-01-15 00:00:00
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,2024-02-02 00:00:00
8,1009,Gandalf,NaN,Na--,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00
10,1011,Samwise,Gamgee,nan--,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00
11,1012,Harry,Potter,nan--,2394 Hogwarts Avenue,Y,NaN,2022-12-11 01:12:30
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2024-02-07 00:00:00
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,2021-01-15 00:00:00
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,2022-01-03 00:00:00
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2021-01-10 00:00:00
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00
17,1018,Clark,Kent,nan--,3498 Super Lane,Y,NaN,2021-01-15 00:00:00
18,1019,Creed,Braton,Na--,N/a,N/a,Yes,2022-04-11 02:12:30
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,2024-02-06 00:00:00

In [18]:
df['Phone_Number'] = df['Phone_Number'].replace('nan--','')  # Replace values in DataFrame
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,2022-02-21 14:42:30
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,2022-08-20 18:12:30
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,2021-01-12 00:00:00
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,2020-06-06 00:00:00
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30
6,1007,Jeff,Winger,,1209 South Street,No,No,2021-01-15 00:00:00
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,2024-02-02 00:00:00
8,1009,Gandalf,NaN,Na--,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2022-12-11 01:12:30
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2024-02-07 00:00:00
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,2021-01-15 00:00:00
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,2022-01-03 00:00:00
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2021-01-10 00:00:00
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,2021-01-15 00:00:00
18,1019,Creed,Braton,Na--,N/a,N/a,Yes,2022-04-11 02:12:30
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,2024-02-06 00:00:00

In [19]:
df['Phone_Number'] = df['Phone_Number'].replace('Na--','') # Replace values in DataFrame
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,2022-02-21 14:42:30
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,2022-08-20 18:12:30
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,2021-01-12 00:00:00
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,2020-06-06 00:00:00
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30
6,1007,Jeff,Winger,,1209 South Street,No,No,2021-01-15 00:00:00
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,2024-02-02 00:00:00
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2022-12-11 01:12:30
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2024-02-07 00:00:00
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,2021-01-15 00:00:00
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,2022-01-03 00:00:00
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2021-01-10 00:00:00
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,2021-01-15 00:00:00
18,1019,Creed,Braton,,N/a,N/a,Yes,2022-04-11 02:12:30
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,1999-12-12 00:00:00
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,2024-02-06 00:00:00

In [20]:
# Ensure Address is a string
df["Address"] = df["Address"].astype(str)  # Convert column data types
# Split on commas (max 2 splits = 3 parts), expand into separate columns
df[['Street', 'State', 'Zipcode']] = df["Address"].str.split(",", n=2, expand=True)  # Split string column values by delimiter
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date,Street,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,2022-02-21 14:42:30,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,N,NaN,2022-08-20 18:12:30,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,2021-01-12 00:00:00,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,2020-06-06 00:00:00,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,2021-01-15 00:00:00,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,2024-02-02 00:00:00,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2022-12-11 01:12:30,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2024-02-07 00:00:00,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,2021-01-15 00:00:00,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,2022-01-03 00:00:00,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2021-01-10 00:00:00,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Y,NaN,2021-01-15 00:00:00,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,2022-04-11 02:12:30,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,1999-12-12 00:00:00,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,2024-02-06 00:00:00,910 Tatooine Road,Tatooine,None

In [21]:
df["Paying Customer"] = df["Paying Customer"].replace({'Y':'Yes','N':'No'})  # Replace values in DataFrame

In [22]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date,Street,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,2022-02-21 14:42:30,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,No,NaN,2022-08-20 18:12:30,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,2021-01-12 00:00:00,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No,2020-06-06 00:00:00,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,2021-01-15 00:00:00,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No,2024-02-02 00:00:00,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Yes,NaN,2022-12-11 01:12:30,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2024-02-07 00:00:00,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,2021-01-15 00:00:00,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No,2022-01-03 00:00:00,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2021-01-10 00:00:00,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Yes,NaN,2021-01-15 00:00:00,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,2022-04-11 02:12:30,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,1999-12-12 00:00:00,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,2024-02-06 00:00:00,910 Tatooine Road,Tatooine,None

In [23]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].replace({'Y':'Yes','N':'No'})  # Replace values in DataFrame

In [24]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Standardized_UTC_Date,Street,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,2022-01-02 00:00:00,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,2022-02-21 14:42:30,93 West Main Street,None,None
2,1003,Walter,White,,298 Drugs Driveway,No,NaN,2022-08-20 18:12:30,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,2021-01-12 00:00:00,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No,2020-06-06 00:00:00,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,2022-09-15 16:12:30,768 City Parkway,None,None
6,1007,Jeff,Winger,,1209 South Street,No,No,2021-01-15 00:00:00,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No,2024-02-02 00:00:00,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,2024-10-03 00:00:00,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,2021-01-13 00:00:00,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,2020-05-05 00:00:00,612 Shire Lane,Shire,None
11,1012,Harry,Potter,,2394 Hogwarts Avenue,Yes,NaN,2022-12-11 01:12:30,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No,2024-02-07 00:00:00,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,2021-01-15 00:00:00,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No,2022-01-03 00:00:00,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No,2021-01-10 00:00:00,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,2024-02-04 00:00:00,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,,3498 Super Lane,Yes,NaN,2021-01-15 00:00:00,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,N/a,Yes,2022-04-11 02:12:30,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No,1999-12-12 00:00:00,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No,2024-02-06 00:00:00,910 Tatooine Road,Tatooine,None

In [25]:
df.drop(columns = "Address", inplace = True)

In [26]:
df.fillna('', inplace = True)  # Fill missing values (NaN) with specified value

In [27]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Standardized_UTC_Date,Street,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,2022-01-02 00:00:00,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,No,Yes,2022-02-21 14:42:30,93 West Main Street,,
2,1003,Walter,White,,No,,2022-08-20 18:12:30,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,2021-01-12 00:00:00,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Yes,No,2020-06-06 00:00:00,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,2022-09-15 16:12:30,768 City Parkway,,
6,1007,Jeff,Winger,,No,No,2021-01-15 00:00:00,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-3469,No,No,2024-02-02 00:00:00,98 Clue Drive,,
8,1009,Gandalf,,,Yes,,2024-10-03 00:00:00,123 Middle Earth,,
9,1010,Peter,Parker,123-545-5421,Yes,No,2021-01-13 00:00:00,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Yes,No,2020-05-05 00:00:00,612 Shire Lane,Shire,
11,1012,Harry,Potter,,Yes,,2022-12-11 01:12:30,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-2345,Yes,No,2024-02-07 00:00:00,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,Yes,No,2021-01-15 00:00:00,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,No,No,2022-01-03 00:00:00,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,No,No,2021-01-10 00:00:00,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,Yes,No,2024-02-04 00:00:00,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,Yes,,2021-01-15 00:00:00,3498 Super Lane,,
18,1019,Creed,Braton,,N/a,Yes,2022-04-11 02:12:30,N/a,,
19,1020,Anakin,Skywalker,876-678-3469,Yes,No,1999-12-12 00:00:00,910 Tatooine Road,Tatooine,
20,1020,Anakin,Skywalker,876-678-3469,Yes,No,2024-02-06 00:00:00,910 Tatooine Road,Tatooine,

In [28]:
df = df.replace('N/a','')  # Replace values in DataFrame

In [29]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Standardized_UTC_Date,Street,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,2022-01-02 00:00:00,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,No,Yes,2022-02-21 14:42:30,93 West Main Street,,
2,1003,Walter,White,,No,,2022-08-20 18:12:30,298 Drugs Driveway,,
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,2021-01-12 00:00:00,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Yes,No,2020-06-06 00:00:00,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,2022-09-15 16:12:30,768 City Parkway,,
6,1007,Jeff,Winger,,No,No,2021-01-15 00:00:00,1209 South Street,,
7,1008,Sherlock,Holmes,876-678-3469,No,No,2024-02-02 00:00:00,98 Clue Drive,,
8,1009,Gandalf,,,Yes,,2024-10-03 00:00:00,123 Middle Earth,,
9,1010,Peter,Parker,123-545-5421,Yes,No,2021-01-13 00:00:00,25th Main Street,New York,
10,1011,Samwise,Gamgee,,Yes,No,2020-05-05 00:00:00,612 Shire Lane,Shire,
11,1012,Harry,Potter,,Yes,,2022-12-11 01:12:30,2394 Hogwarts Avenue,,
12,1013,Don,Draper,123-543-2345,Yes,No,2024-02-07 00:00:00,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,Yes,No,2021-01-15 00:00:00,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,No,No,2022-01-03 00:00:00,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,No,No,2021-01-10 00:00:00,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,Yes,No,2024-02-04 00:00:00,121 Paper Avenue,Pennsylvania,
17,1018,Clark,Kent,,Yes,,2021-01-15 00:00:00,3498 Super Lane,,
18,1019,Creed,Braton,,,Yes,2022-04-11 02:12:30,,,
19,1020,Anakin,Skywalker,876-678-3469,Yes,No,1999-12-12 00:00:00,910 Tatooine Road,Tatooine,
20,1020,Anakin,Skywalker,876-678-3469,Yes,No,2024-02-06 00:00:00,910 Tatooine Road,Tatooine,

In [30]:
# Replace empty strings with NaN so both are treated the same
df[['Phone_Number', 'Do_Not_Contact']] = df[['Phone_Number', 'Do_Not_Contact']].replace(r'^\s*$', pd.NA, regex=True) 
df_cleaned = df.dropna(subset=['Phone_Number', 'Do_Not_Contact'])  # Drop rows with missing values (NaN)

In [31]:
df_cleaned

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Standardized_UTC_Date,Street,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,2022-01-02 00:00:00,123 Shire Lane,Shire,
1,1002,Abed,Nadir,123-643-9775,No,Yes,2022-02-21 14:42:30,93 West Main Street,,
3,1004,Dwight,Schrute,123-543-2345,Yes,Yes,2021-01-12 00:00:00,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Yes,No,2020-06-06 00:00:00,123 Dragons Road,,
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,2022-09-15 16:12:30,768 City Parkway,,
7,1008,Sherlock,Holmes,876-678-3469,No,No,2024-02-02 00:00:00,98 Clue Drive,,
9,1010,Peter,Parker,123-545-5421,Yes,No,2021-01-13 00:00:00,25th Main Street,New York,
12,1013,Don,Draper,123-543-2345,Yes,No,2024-02-07 00:00:00,2039 Main Street,,
13,1014,Leslie,Knope,876-678-3469,Yes,No,2021-01-15 00:00:00,343 City Parkway,,
14,1015,Toby,Flenderson,304-762-2467,No,No,2022-01-03 00:00:00,214 HR Avenue,,
15,1016,Ron,Weasley,123-545-5421,No,No,2021-01-10 00:00:00,2395 Hogwarts Avenue,,
16,1017,Michael,Scott,123-643-9775,Yes,No,2024-02-04 00:00:00,121 Paper Avenue,Pennsylvania,
19,1020,Anakin,Skywalker,876-678-3469,Yes,No,1999-12-12 00:00:00,910 Tatooine Road,Tatooine,
20,1020,Anakin,Skywalker,876-678-3469,Yes,No,2024-02-06 00:00:00,910 Tatooine Road,Tatooine,

In [32]:
df_cleaned = df_cleaned[df_cleaned['Do_Not_Contact'] != 'Yes']

In [33]:
df_cleaned.reset_index(drop = True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Standardized_UTC_Date,Street,State,Zipcode
0,1001,Frodo,Baggins,123-545-5421,Yes,No,2022-01-02 00:00:00,123 Shire Lane,Shire,
1,1005,Jon,Snow,876-678-3469,Yes,No,2020-06-06 00:00:00,123 Dragons Road,,
2,1008,Sherlock,Holmes,876-678-3469,No,No,2024-02-02 00:00:00,98 Clue Drive,,
3,1010,Peter,Parker,123-545-5421,Yes,No,2021-01-13 00:00:00,25th Main Street,New York,
4,1013,Don,Draper,123-543-2345,Yes,No,2024-02-07 00:00:00,2039 Main Street,,
5,1014,Leslie,Knope,876-678-3469,Yes,No,2021-01-15 00:00:00,343 City Parkway,,
6,1015,Toby,Flenderson,304-762-2467,No,No,2022-01-03 00:00:00,214 HR Avenue,,
7,1016,Ron,Weasley,123-545-5421,No,No,2021-01-10 00:00:00,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-643-9775,Yes,No,2024-02-04 00:00:00,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-3469,Yes,No,1999-12-12 00:00:00,910 Tatooine Road,Tatooine,
10,1020,Anakin,Skywalker,876-678-3469,Yes,No,2024-02-06 00:00:00,910 Tatooine Road,Tatooine,

In [34]:
df_cleaned.to_excel(r"C:\Users\ual-laptop\Downloads\university downloads\UoA laptop downloads folder\Alex The Analyst\Pooja\Python\Data Cleaning Pandas\Customer Call Cleaned List.xlsx", index=False)
print("Downloaded the current dataframe as excel successfully")

Downloaded the current dataframe as excel successfully